<div class="home-container">
  <div class="home-group5">
    <span class="home-text H4"><span>Октябрь</span></span>
    <span class="home-text02 H4"><span>Декабрь</span></span>
    <span class="home-text04">
      <span>
        Посмотреть еще
        <span [innerHTML]="raw0lag"></span>
      </span>
    </span>
    <span class="home-text06"><span>Санкт-Петербург</span></span>
    <span class="home-text08"><span>Москва</span></span>
    <div class="home-frame2">
      <div class="home-frame1">
        <span class="home-text10">
          <span>
            Гастрономический ужин в сопровождении вин от Марка Александрова в
            BRUXX
          </span>
        </span>
        <span class="home-text12"><span>Санкт-Петербург</span></span>
      </div>
      <div class="home-frame3">
        <div class="home-group1">
          <div class="home-frame18">
            <div class="home-group6">
              <img
                alt="Ellipse18I101"
                src="/assets/playground_assets/ellipse18i101-adzj-200w.png"
                class="home-ellipse18"
              />
              <span class="home-text14"><span>22</span></span>
            </div>
            <div class="home-frame6">
              <span class="home-text16"><span>Слушать</span></span>
            </div>
            <div class="home-frame7">
              <span class="home-text18"><span>Пробовать</span></span>
            </div>
          </div>
        </div>
        <img
          alt="Rectangle131012"
          src="/assets/playground_assets/rectangle131012-raci-300h.png"
          class="home-rectangle13"
        />
        <img
          alt="Vector121012"
          src="/assets/playground_assets/vector121012-r1dp.svg"
          class="home-vector12"
        />
      </div>
    </div>
    <div class="home-frame8">
      <div>
        <span class="home-text20">
          <span>Сицилия в Italy на Московском: итальянский семейный бранч</span>
        </span>
        <span class="home-text22"><span>Санкт-Петербург</span></span>
      </div>
      <div class="home-frame31">
        <div class="home-group11">
          <div class="home-frame181">
            <div class="home-group61">
              <img
                alt="Ellipse18I101"
                src="/assets/playground_assets/ellipse18i101-g9w6-200w.png"
                class="home-ellipse181"
              />
              <span class="home-text24"><span>22</span></span>
            </div>
            <div class="home-frame61">
              <span class="home-text26"><span>Слушать</span></span>
            </div>
            <div class="home-frame71">
              <span class="home-text28"><span>Пробовать</span></span>
            </div>
          </div>
        </div>
        <img
          alt="Rectangle131012"
          src="/assets/playground_assets/rectangle131012-blzb-300h.png"
          class="home-rectangle131"
        />
        <img
          alt="Vector121012"
          src="/assets/playground_assets/vector121012-wfb.svg"
          class="home-vector121"
        />
      </div>
    </div>
    <div class="home-frame32">
      <div class="home-frame12">
        <span class="home-text30">
          <span>
            «Почему фильмы Вуди Аллена заставляют смеяться и плакать
            одновременно?»
          </span>
        </span>
        <span class="home-text32"><span>Санкт-Петербург</span></span>
      </div>
      <div class="home-frame33">
        <div class="home-group12">
          <div class="home-frame182">
            <div class="home-group62">
              <img
                alt="Ellipse18I101"
                src="/assets/playground_assets/ellipse18i101-9r66i-200w.png"
                class="home-ellipse182"
              />
              <span class="home-text34"><span>22</span></span>
            </div>
            <div class="home-frame62">
              <span class="home-text36"><span>Слушать</span></span>
            </div>
            <div class="home-frame72">
              <span class="home-text38"><span>Пробовать</span></span>
            </div>
          </div>
        </div>
        <img
          alt="Rectangle131012"
          src="/assets/playground_assets/rectangle131012-mt2g-300h.png"
          class="home-rectangle132"
        />
        <img
          alt="Vector121012"
          src="/assets/playground_assets/vector121012-8n1c.svg"
          class="home-vector122"
        />
      </div>
    </div>
    <div class="home-frame9">
      <div class="home-frame13">
        <span class="home-text40">
          <span>
            Арт-бранч в Studia с лектором «Правого полушария Интроверта»
          </span>
        </span>
        <span class="home-text42"><span>Москва</span></span>
      </div>
      <div class="home-frame34">
        <div class="home-group13">
          <div class="home-frame183">
            <div class="home-group63">
              <img
                alt="Ellipse18I101"
                src="/assets/playground_assets/ellipse18i101-bsb4-200w.png"
                class="home-ellipse183"
              />
              <span class="home-text44"><span>22</span></span>
            </div>
            <div class="home-frame63">
              <span class="home-text46"><span>Слушать</span></span>
            </div>
            <div class="home-frame73">
              <span class="home-text48"><span>Пробовать</span></span>
            </div>
          </div>
        </div>
        <img
          alt="Rectangle131012"
          src="/assets/playground_assets/rectangle131012-233h-300h.png"
          class="home-rectangle133"
        />
        <img
          alt="Vector121012"
          src="/assets/playground_assets/vector121012-z8rb.svg"
          class="home-vector123"
        />
      </div>
    </div>
    <div class="home-frame4">
      <div class="home-frame14">
        <span class="home-text50">
          <span>
            Клуб в Виленском: «Как выбирать парфюм? Семейства ароматов фужеры и
            шипры»
          </span>
        </span>
        <span class="home-text52"><span>Санкт-Петербург</span></span>
      </div>
      <div class="home-frame35">
        <div class="home-group14">
          <div class="home-frame184">
            <div class="home-group64">
              <img
                alt="Ellipse18I101"
                src="/assets/playground_assets/ellipse18i101-kogq-200w.png"
                class="home-ellipse184"
              />
              <span class="home-text54"><span>22</span></span>
            </div>
            <div class="home-frame64">
              <span class="home-text56"><span>Слушать</span></span>
            </div>
            <div class="home-frame74">
              <span class="home-text58"><span>Пробовать</span></span>
            </div>
          </div>
        </div>
        <img
          alt="Rectangle131012"
          src="/assets/playground_assets/rectangle131012-emw-300h.png"
          class="home-rectangle134"
        />
        <img
          alt="Vector121012"
          src="/assets/playground_assets/vector121012-g76.svg"
          class="home-vector124"
        />
      </div>
    </div>
    <div class="home-frame10">
      <div class="home-frame15">
        <span class="home-text60">
          <span>Бранч с Masters: «Меню гения. Что ел и пил Микеланджело»</span>
        </span>
        <span class="home-text62"><span>Санкт-Петербург</span></span>
      </div>
      <div class="home-frame36">
        <div class="home-group15">
          <div class="home-frame185">
            <div class="home-group65">
              <img
                alt="Ellipse18I101"
                src="/assets/playground_assets/ellipse18i101-puz-200w.png"
                class="home-ellipse185"
              />
              <span class="home-text64"><span>22</span></span>
            </div>
            <div class="home-frame65">
              <span class="home-text66"><span>Слушать</span></span>
            </div>
            <div class="home-frame75">
              <span class="home-text68"><span>Пробовать</span></span>
            </div>
          </div>
        </div>
        <img
          alt="Rectangle131012"
          src="/assets/playground_assets/rectangle131012-au1a-300h.png"
          class="home-rectangle135"
        />
        <img
          alt="Vector121012"
          src="/assets/playground_assets/vector121012-8e7x.svg"
          class="home-vector125"
        />
      </div>
    </div>
    <div class="home-frame5">
      <div class="home-frame16">
        <span class="home-text70">
          <span>
            Italy Bambini: детский праздник Halloween «Монстры на Каникулах»
          </span>
        </span>
        <span class="home-text72"><span>Москва</span></span>
      </div>
      <div class="home-frame37">
        <div class="home-group16">
          <div class="home-frame186">
            <div class="home-group66">
              <img
                alt="Ellipse18I101"
                src="/assets/playground_assets/ellipse18i101-axtp-200w.png"
                class="home-ellipse186"
              />
              <span class="home-text74"><span>22</span></span>
            </div>
            <div class="home-frame66">
              <span class="home-text76"><span>Слушать</span></span>
            </div>
            <div class="home-frame76">
              <span class="home-text78"><span>Пробовать</span></span>
            </div>
          </div>
        </div>
        <img
          alt="Rectangle131012"
          src="/assets/playground_assets/rectangle131012-x9ws-300h.png"
          class="home-rectangle136"
        />
        <img
          alt="Vector121012"
          src="/assets/playground_assets/vector121012-3i62.svg"
          class="home-vector126"
        />
      </div>
    </div>
    <div class="home-frame11">
      <div class="home-frame17">
        <span class="home-text80">
          <span>Клуб в Виленском: «Синтез моды и искусства»</span>
        </span>
        <span class="home-text82"><span>Санкт-Петербург</span></span>
      </div>
      <div class="home-frame38">
        <div class="home-group17">
          <div class="home-frame187">
            <div class="home-group67">
              <img
                alt="Ellipse18I101"
                src="/assets/playground_assets/ellipse18i101-paav-200w.png"
                class="home-ellipse187"
              />
              <span class="home-text84"><span>22</span></span>
            </div>
            <div class="home-frame67">
              <span class="home-text86"><span>Слушать</span></span>
            </div>
            <div class="home-frame77">
              <span class="home-text88"><span>Пробовать</span></span>
            </div>
          </div>
        </div>
        <img
          alt="Rectangle131012"
          src="/assets/playground_assets/rectangle131012-qlf-300h.png"
          class="home-rectangle137"
        />
        <img
          alt="Vector121012"
          src="/assets/playground_assets/vector121012-f69.svg"
          class="home-vector127"
        />
      </div>
    </div>
    <img
      alt="Vector131012"
      src="/assets/playground_assets/vector131012-wkkg5.svg"
      class="home-vector13"
    />
    <img
      alt="Vector151012"
      src="/assets/playground_assets/vector151012-pce.svg"
      class="home-vector15"
    />
    <img
      alt="Vector161012"
      src="/assets/playground_assets/vector161012-jpk.svg"
      class="home-vector16"
    />
    <span class="home-text90 H2"><span>Афиша</span></span>
  </div>
</div>
